nav{
    padding-top: 5px;
    padding-bottom: 3px;
    background-color: black;
}

.text-left{

    text-align: left;
}

.text-right{
    
    text-align: right;
}

.text-center{
    
    text-align: center;
}


ul{
    display:flex;
    justify-content: space-between;
    margin: 0px 50px;
}


li{
    display: inline;
    list-style-type: none;
    font-size: 15px;
    text-decoration: none;
}


a{
    color: darkorange;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 1000;


}

a:link {
    color: darkorange;
    
    text-decoration: none;
  }
  
  a:visited {
    color: darkorange;
    
    text-decoration: none;
  }
  
  a:hover {
    color: blue;
    
    text-decoration: underline;
  }
  
  a:active {
    color: darkorange;
    
    text-decoration: underline;
  }



body{ 

     margin-left: auto;
     margin-right: auto;
     background-image: url(./IMG/Logo\ Streamer\ Ousado\ verde\ Limão\ e\ Preto.png);
     background-repeat: no-repeat;
     background-position-x: center;
     background-size: 2000px 1024px ;
    
    
}

footer{ 

    
    background-color: black;
    color: darkorange;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    

}

#Logo{

    
   margin: auto;
   display: block;
   margin-top: 140px;
   width: 600px;
   

}

.carousel-item{


    display: flex;
    position: absolute;
    min-width: auto;
    height: 50px;
   
}

